---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Cap Store - Credits" }>
  <section>
    <h2 class="text-3xl title-font font-medium mb-2">Credits</h2>
    <ul>
      <li>
        Cap Store created by <a
          class="underline"
          href="https://github.com/joacod"
          target="_blank"
          rel="noopener noreferrer"
          title="Joaquin Diaz on GitHub"
        >
          Joaquin Diaz
        </a>
      </li>
      <li>
        Cap icon by <a
          class="underline"
          href="https://www.flaticon.com/free-icon/cap_1974158?term=cap&page=1&position=7&origin=tag&related_id=1974158"
          target="_blank"
          rel="noopener noreferrer"
          title="Cap icon on Flaticon"
        >
          Flaticon
        </a>
      </li>
    </ul>
  </section>
</Layout>
