---
import { Counter } from "@/components/Counter";
import Layout from "@/layouts/Layout.astro";

const { id } = Astro.params;

// TODO: decide later if i want this page to be static or ssr
export const prerender = false;
---

<Layout title={`Item ${id}`}>
  <h1 class="text-xl font-bold">Items id: {id}</h1>
  <Counter client:load />
</Layout>
