---
import AnchorButton from "@/components-ui/AnchorButton.astro";
import HomeIcon from "@/icons/Home.astro";
import PlusIcon from "@/icons/Plus.astro";
import GithubIcon from "@/icons/Github.astro";
import ClipboardIcon from "@/icons/Clipboard.astro";
---

<nav
  class="fixed flex justify-between top-0 z-50 w-full bg-dark opacity-95 text-primary text-center shadow-lg p-5"
>
  <div class="flex justify-start items-center space-x-2">
    <img src="/cap.png" width="50" height="50" class="mr-3" alt="Cap Store" />
    <AnchorButton href="/" type="secondary">
      <HomeIcon />
      <span slot="after">Home</span>
    </AnchorButton>
    <AnchorButton href="/counter" type="secondary">
      <PlusIcon />
      <span slot="after">Counter</span>
    </AnchorButton>
    <AnchorButton href="/credits" type="secondary">
      <ClipboardIcon />
      <span slot="after">Credits</span>
    </AnchorButton>
  </div>
  <div class="flex justify-end items-center">
    <AnchorButton
      href="https://github.com/joacod/astro-solidjs"
      target="_blank"
      type="primary"
    >
      <GithubIcon />
    </AnchorButton>
  </div>
</nav>
